@model IEnumerable<TransactionViewModel>

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-12">
            <div class="shadow p-3 mb-5 bg-white rounded">
                <table class="table table-striped table-hover" >
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Credits)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TransactionFrom)
                            </th>   
                            <th>
                                @Html.DisplayNameFor(model => model.TransactionTo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Comment)
                            </th>
                            <th>
                                Time Created
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Credits)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TransactionFrom.NormalizedUserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TransactionTo.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Comment)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedOn)
                            </td>
                        </tr>       
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}